@using System.Security.Claims
@using Web.Middleware
@model Web.Models.TenantSettings.UserModel

<div class="card">
    <span class="circle @Model.Initials.ToLower()[0]">
        @Model.Initials
    </span>

    <div class="content">

        <label>
            @Model.FullName
        </label>
        <value>
            @Model.Email
        </value>

        <div class="edit">
            <div class="actions">
                @if(Model.Id != ((ClaimsPrincipal)this.User).AppUserId() && Model.CanRemove)
                {
                    using (Html.BeginForm("RemoveUser", "TenantSettings"))
                    {
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Email)
                        <input type="submit" value="Remove" class="delete" />
                    }
                }

                @if(!Model.IsAdmin)
                {
                    using (Html.BeginForm("AddAdmin", "TenantSettings"))
                    {
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Email)
                        <input type="submit" value="Give admin access" class="positive account-manager" />
                    }
                }
                
                @if (Model.IsAdmin && Model.Id == ((ClaimsPrincipal)this.User).AppUserId())
                {
                    using (Html.BeginForm("RemoveAdmin", "TenantSettings"))
                    {
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Email)
                        <input type="submit" value="Remove admin access" class="positive" />
                    }
                }
            </div>
        </div>

    </div>
</div>